body{
margin:0;
font-family: "Segoe UI", Arial, sans-serif;
background:linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:90vh;
}

.card{
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
width:450px;
}

.quizcard{
width:650px;
}

.resultCard{
width:700px;
max-height:80vh;
overflow-y:auto;
}

.small{
width:350px;
}

input{
width:90%;
padding:12px;
margin:10px;
border-radius:6px;
border:1px solid #ccc;
}

.btn{
background:#667eea;
color:white;
padding:12px 25px;
border:none;
border-radius:6px;
cursor:pointer;
margin:10px;
}

.btn:hover{
background:#5563d6;
transform:scale(1.05);
}

.secondary{
background:#27ae60;
}

.topbar{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.option{
background:#f2f2f2;
padding:12px;
margin:10px;
border-radius:6px;
cursor:pointer;
}

.option:hover{
background:#ddd;
}

.selected{
background:#c8e6c9;
}

.progress{
height:8px;
background:#eee;
border-radius:5px;
margin-bottom:20px;
}

#progressBar{
height:8px;
background:#667eea;
width:0%;
border-radius:5px;
}

.reviewBox{
text-align:left;
padding:15px;
border-bottom:1px solid #eee;
}

.correct{
color:green;
font-weight:bold;
}

.wrong{
color:red;
font-weight:bold;
}
#resultChart{
display:block;
margin:20px auto;
}